.about-us {

}

.about-us__title {
    margin-bottom: 25px;
    font-weight: 700;
    line-height: normal;
    font-size: 35px;
    color: #383a4c;
}

.about-us__subtitle {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 22px;
    color: #383a4c;
}

.about-us__text {
    display: block;
    margin: auto;
    width: 724px;
    margin-bottom: 50px;
    color: #383a4c;
}

.about-us__list {
    display: flex;
    gap: 50px;
}

.about-us__item {
    height: 195px;
    width: 195px;
}

.about-us__caption {
    font-weight: 500;
    font-size: 20px;
    color: #383a4c;
}