.about-us {
    padding: 70px 0;
}

.about-us__title {
    margin-bottom: 25px;
    font-weight: 700;
    line-height: normal;
    font-size: 35px;
    line-height: 117%;
    color: var(--text-color-dark);
}

.about-us__subtitle {
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.about-us__subtitle-separator {
    width: 43px;
    height: 2px;
    background-color: var(--text-color-dark);
}

.about-us__subtitle-text {
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color-dark);
}

.about-us__text {
    max-width: 724px;
    margin: 0 auto 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: var(--text-color-dark);
}

.about-us__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: auto !important;
}

.about-us__item {
    /*height: 195px;*/
    width: 195px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.about-us__number {
    width: 122px;
    height: 122px;
    padding-top: 37px;
    border-radius: 100%;
    background-color: var(--backgrond-color-button);
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    text-align: center;
    color: inherit;
}

.about-us__caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 139%;
    text-align: center;
    color: var(--text-color-dark);
}

@media (max-width: 1024px) {

    .about-us__title {
        margin-bottom: 23px;
        font-size: 32px;
    }
    
    .about-us__subtitle {
        gap: 20px;
        margin-bottom: 28px;
    }
    
    .about-us__subtitle-separator {
        width: 40px;
    }
    
    .about-us__subtitle-text {
        font-size: 22px;
    }
    
    .about-us__text {
        max-width: 666px;
        font-size: 16px;
        margin: 0 auto 64px;
    }
    
    .about-us__item {
        /*height: 195px;*/
        width: 180px;
        gap: 26px;
    }
    
    .about-us__number {
        width: 104px;
        height: 104px;
        padding-top: 26px;
        font-size: 52px;
    }
    
    .about-us__caption {
        font-size: 19px;
        line-height: 123%;
    }
}

@media (max-width: 767px) {
    .about-us {
        padding: 32px 0;
    }

    .about-us__title {
        margin-bottom: 17px;
        font-size: 20px;
        letter-spacing: -0.2px;
    }
    
    .about-us__subtitle {
        margin-bottom: 28px;
        gap: 24px;
        
    }
    
    .about-us__subtitle-separator {
        width: 21px;
        height: 1px;
    }
    
    .about-us__subtitle-text {
        font-size: 16px;
    }
    
    .about-us__text {
        max-width: 100%;
        font-size: 12px;
        line-height: 143%;
        margin-bottom: 41px;
    }
    
    .about-us__caption {
        width:  166px;
    }
}