.container {
    padding: 32px 106px 0;
}

.card__title {
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1em;
}

.card__form {
    padding: 28px;
    margin-bottom: 32px;
    max-width: 580px;

    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card__item:not(:last-child) {
    margin-bottom: 12px;
}

.card__label {
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
    
}

.card__discont {
    display: flex;
}

.card__input {
    min-width: 524px;
    min-height: 40px;
    border: none;
    border-radius: 6px;
    background: #f4f2ff;

    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6e6893;
}

.card__disabled {
    margin-left: 50px;
    min-width: 474px;
    min-height: 40px;
    border: none;
    border-radius: 6px;
    background: #EEEEEE;

    pointer-events: none;

    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6e6893;
}

.card__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
}

.card__checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #f4f2ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }
  
  .card__checkbox:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
  }
  
  .card__checkbox:focus-visible {
    outline: none
  }
  
  .card__checkbox:checked:after {
    opacity: 1
  }
  
  .card__checkbox:focus:before {
    box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
  }
  
  .card__checkbox:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
  }
  
  .card__checkboxt:disabled:before {
    background-color: #cccccc;
  }

  .card__checkbox:checked ~ .card__disabled {
    background: #f4f2ff;
    pointer-events: auto;
  }