.container {
    width: 1200px;
    margin: auto;
    padding: 0 200px;
  }

.header__container {
    width: 100vw;
    padding: 40px 200px 120px;
    background-image: url(../img/preview/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}