
.container {
    width: 1440px;
    margin: auto;
    padding: 0 180px;
}

.container-custom {
    padding: 25px 45px;
    margin: auto;
    max-width: 1140px;
    background-color: #f1f1f1;
    border-radius: 10px;  
}

