  .contacts {
    padding: 0 130px;
  }
  
  .address {
    margin-bottom: 39px;
  }

  .contacts__title {
    margin-bottom: 54px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .address__contact {
    display: flex;
  }

  .address__img {
    color: #CD06FF;
    margin-right: 30px;
  }

  .address__link {
    font-size: 24px;
    line-height: 117%;
  }

  .address__contact:first-of-type {
    margin-bottom: 51px;
  }

  .contacts__socials {
    margin: 0;
    display: flex;
    list-style: none;
  }

  .contacts__social{
    margin-right: 26px;
  }
