.equipment__title {
    margin: auto;
    margin-bottom: 41px;
    width: 710px;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
}

.equipment__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 380px));
    grid-auto-rows: auto;
    justify-content: center;
    gap: 40px 20px;
    
}

.equipment__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 228px;
    max-width: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    grid-row-end: span 6;
}

.equipment__item_text {
    position: absolute;
    top: 166px;
    right: 40px;
    left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    max-width: 300px;
}

.equipment__item_VR {
    background-image: url(../img/equipment/VR.png);
}

.equipment__item_audio-system {
    background-image: url(../img/equipment/audio.png);
    grid-area: 3 / 2 / span 6 / auto;
}

.equipment__item_karaoke {
    background-image: url(../img/equipment/karaoke.png);
}

.equipment__item_board-games {
    background-image: url(../img/equipment/board-games.png);
}

.equipment__item_cinema-services {
    background-image: url(../img/equipment/cinema.png); 
    grid-area: 9 / 2 / span 6 / auto;
}

.equipment__item_РlаyStаtiоn {
    background-image: url(../img/equipment/РlаyStаtiоn.png);
    
}

.equipment__item:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    transition-duration: 300ms;
}

@media (min-width: 986px) and (max-width: 1185px) {
    .equipment__title {
        margin-bottom: 36px;
        max-width: 655px;
        width: 100%;
        font-size: 30px;
        line-height: 133%;
    }

    .equipment__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 287px));
        gap: 30px 22px;
        
    }

    .equipment__item {
        height: 172px;
    }

    .equipment__item_text {
        top: 114px;
        right: 20px;
        left: 20px;
    }

    .equipment__item_cinema-services .equipment__item_text {
        top: 83px;
    }

}


@media (min-width: 528px) and (max-width: 986px) {
    .equipment__title {
        margin-bottom: 30px;
        max-width: 445px;
        width: 100%;
        font-size: 24px;
        line-height: 150%;
    }

    .equipment__list {
        grid-template-columns: repeat(2, minmax(0, 334px));
        gap: 20px;
    }

    .equipment__item {
        height: 200px;
        max-width: 334px;
        width: 100%;
        grid-row-end: span 11;
    }

    .equipment__item_text {
        top: 132px;
        right: 30px;
        left: 30px;
    }


    .equipment__item_audio-system {
        background-image: url(../img/equipment/audio.png);
        grid-area: 1 / 2 / span 11 / auto;
    }

    .equipment__item_cinema-services {
        background-image: url(../img/equipment/cinema.png); 
        grid-area: 23 / 1 / span 11 / auto;
    }


}

@media only screen and (max-width: 705px) {
     .equipment__item_text {
        top: 112px;
        right: 20px;
        left: 20px;
        
    }
}

@media only screen and (max-width: 527px) {
    .equipment__title {
        margin-bottom: 15px;
        width: 100%;
        font-size: 14px;
        line-height: 129%;
    }

    .equipment__list {
        grid-template-columns: repeat(2, minmax(0, 259px));
        gap: 10px;
        
    }

    .equipment__item {
        height: 75px;
        max-width: 259;
        width: 100%;
        grid-row-end: span 8;
    }

    .equipment__item_text {
        position: absolute;
        top: 30px;
        right: 10px;
        left: 10px;
        font-size: 10px;
    }

    .equipment__item_audio-system {
        background-image: url(../img/equipment/audio.png);
        grid-area: 1 / 2 / span 8 / auto;
    }

    .equipment__item_cinema-services {
        background-image: url(../img/equipment/cinema.png); 
        grid-area: 17 / 1 / span 8 / auto;
    }

}