.faq__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
}

.faq__list {
    margin: 0;
    padding: 0;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;

    background-color: var(--text-color);
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
}

.faq__item:not(:last-child){
    margin-bottom: 20px;
}

.faq__item:nth-of-type(even){
    color: var(--text-color);
    background-color: #440F51;
}

.faq__item:after {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url(../img/faq/open-purple.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.faq__item:nth-of-type(even):after {
    content: "";
    background-image: url(../img/faq/open.svg);
    background-size: contain;
    cursor: pointer;
}

.faq__item:hover:after {
    background-image: url(../img/faq/open-purple-hover.svg);
    transition-duration: 300ms;
    transition-property: background-image;
}

.faq__item:active:after {
    background-image: url(../img/faq/close-purple-acrive.svg);
    transition-duration: 300ms;
    transition-property: background-image;
}

.faq__item:nth-of-type(even):hover:after {
    background-image: url(../img/faq/open-hover.svg);
    transition-duration: 300ms;
    transition-property: background-image;
}

.faq__item:nth-of-type(even):active:after {
    background-image: url(../img/faq/close-acrive.svg);
    transition-duration: 300ms;
    transition-property: background-image;
}

@media only screen and (max-width: 1024px) {

    .faq__item:nth-of-type(even){
        color:  #1c1a1a;
        background-color: var(--text-color);
    }

    .faq__item:nth-of-type(even):after {
        background-image: url(../img/faq/open-purple.svg);
    }

    .faq__item:nth-of-type(even):hover:after {
        background-image: url(../img/faq/open-purple-hover.svg);
    }

    .faq__item:nth-of-type(even):active:after {
        background-image: url(../img/faq/close-purple-acrive.svg);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .faq__title {
        margin-bottom: 26px;
        font-size: 30px;
        line-height: 133%;
    }

    .faq__item {
        padding: 12px 20px 12px 25px;
        font-size: 20px;
        line-height: 120%;
    }

    .faq__item:not(:last-child){
        margin-bottom: 16px;
    }
    
}

@media (min-width: 610px) and (max-width: 767px) {
    .faq__title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 108%;
    }

    .faq__item {
        padding: 12px 65px 12px 54px;
        font-size: 18px;
        line-height: 133%;
    }

    .faq__item:not(:last-child){
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 609px) {
    .faq__title {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 129%;
    }

    .faq__item {
        padding: 7px 13px 7px 10px;
        font-size: 12px;
        line-height: 133%;
    }

    .faq__item:not(:last-child){
        margin-bottom: 10px;
    }

    .faq__item:after {
        width: 30px;
        height: 30px;
    }
}