.footer {
    padding: 25px 0;
}

.footer__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
}

.footer__list {
    margin-bottom: 30px;
}

.footer__item:not(:last-child) {
    margin-bottom: 10px;
}