html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

  body {
    min-width: 580px;
    min-height: 100vw;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6e6893;
    background-color: #E5E5E5;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1, h2, h3, p, figure, fieldset, blockquote {
    margin: 0;
  }