   .halls__title {
    margin-bottom: 60px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .halls__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .halls__item {
    padding: 135px 0;
    width: 580px;
    height: 349px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .halls__item:nth-of-type(odd) {
    margin-right: 20px;
  }

  .halls__item:nth-child(-n+2) {
    margin-bottom: 20px;
  }

  .halls__link {
    text-decoration: none;
    font-size: 70px;
    line-height: 114%;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .halls__item-vibes {
    background-image: url(../img/halls/vibes.png);
  }

  .halls__item-star-wars {
    background-image: url(../img/halls/star_wars.png);
  }

  .halls__item-wild-west {
    background-image: url(../img/halls/wild_west.png);
  }

  .halls__item-neon-style {
    background-image: url(../img/halls/neon_style.png);
  }

  .halls__item:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    transition-duration: 300ms;
  }