.header {

}

.header__navigation {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header__link {

}

.header__inf {
    display: flex;
    flex-direction: column;
}

.header__tel {
    font-size: 23px;
}

.header__button {
    padding: 0;
    color: white;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
}
