.preview {
    padding-top: 35px;
}

.preview__title {
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
}

.preview__text:not(:last-child) {
    margin-bottom: 30px;
}
