.preview {
    max-width: 1200px;
    margin: auto;
}

.preview__title {
    display: block;
    margin: auto;
    line-height: normal;
    margin-bottom: 33px;
    font-weight: 900;
    font-size: 52px;
    color: rgba(255, 255, 255, 0.86);
}

.preview__subtitle {
    display: block;
    margin: auto;
    max-width: 960px;
    margin-bottom: 88px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
}

.preview__subtitle-mob {
    display: none;
  }

.preview__button {
    display: block;
    margin: auto;
    padding: 11px 49px;
    background-color: var(--backgrond-color-button);
    box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border-color: transparent;
    font-weight: 500;
    font-size: 19px;
    color: inherit;
    transition-duration: 300ms;
    transition-property: opacity;
}

.preview__button:hover {
    opacity: 0.7;
    transition-duration: 300ms;
    transition-property: opacity;
  }

  
@media (max-width: 1024px) {
    .preview__title {
        margin-bottom: 27px;
        font-size: 40px;
        max-width: 754px;
    }
    
    .preview__subtitle {
        margin-bottom: 56px;
        font-size: 18px;
        line-height: 141%;
        max-width: 754px;
    }

    .preview__button {
        font-size: 20px;
    }
    
}

@media (max-width: 767px) {
    .preview__title {
        margin-bottom: 26px;
        font-size: 20px;
        max-width: 780px;
    }
    
    .preview__subtitle {
        display: none;
    }

    .preview__subtitle-mob {
        display: block;
        max-width: 100%;
        margin-bottom: 54px;
        font-size: 14px;
        line-height: 140%;
    }
    
    .preview__button {
        font-size: 16px;
        padding: 7px 37px;
    }
    
}