  .reservation__title {
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .reservation__list {
    display: flex;
    flex-wrap: wrap;
    overflow: unset;
  }

  .reservation__item {
    display: flex;
  }