@import url(header.css);
@import url(preview.css);
@import url(equipment.css);
@import url(halls.css);
@import url(reservation.css);
@import url(about-us.css);
@import url(reviews.css);
@import url(faq.css);
@import url(footer.css);
@import url(container.css);

  html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

  body {
    min-width: 320px;
    min-height: 100vw;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;

    color: #fff;
    background-color: #1B1A1B;
  }

  section {
    padding: 50px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1, h2, h3, p, figure, fieldset, blockquote {
    margin: 0;
  }

  fieldset {
    padding: 0;
  }



