@import url(var.css);
@import url(container.css);
@import url(header.css);
@import url(gallery.css);

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

  body {

    min-width: 320px;
    min-height: 100vw;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: var(--text-color);
    background-color: var(--backgrond-color);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1, h2, h3, p, figure, fieldset, blockquote {
    margin: 0;
  }

  fieldset {
    padding: 0;
  }
  
  .main {
    padding-top: 45px;
  }