* {
    box-sizing: border-box;
  }

  body {
    padding: 0 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    background-color: #1B1A1B;
  }

  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .preview {
    padding: 146px 0 50px;
    min-height: 1020px;
    max-width: 1180px;
  }

  .preview-title {
    position: relative;
    margin: 0;
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
  }

  .preview-title::after {
    content: "";
    position: absolute;
    top: 61px;
    right: 0;
    width: 675px;
    height: 762px;
    background-image: url(../img/preview.png);
  }

  .preview-subtitle {
    margin: 0;
    padding-left: 100px;
    font-weight: 400;
    font-size: 28px;
    line-height: 179%;
  }

  .halls {
    padding: 50px 0 50px;
  }

  .halls-title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .halls-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .halls-item {
    width: 1180px;
    height: 710px;
    font-size: 70px;
    line-height: 710px;
    text-transform: uppercase;
    text-align: center;
  }

  .halls-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .halls-item a {
    text-decoration: none;
    color: #fff;
  }

  .vibes {
    background-image: url(../img/vibes.png);
  }

  .star-wars {
    background-image: url(../img/star_wars.png);
  }

  .wild-west {
    background-image: url(../img/wild_west.png);
  }

  .neon-style {
    background-image: url(../img/neon_style.png);
  }

  .reservation {
    padding: 50px 0 50px;
  }

  .reservation-title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .reservation-list {
    display: flex;flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: unset;
  }

  .reservation-list li {
    display: flex;
  }

  .about-us {
    padding: 50px 0 50px;
  }

  .about-us-title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .about-us-subtitle {
    margin: 0;
    font-weight: 400;
    line-height: 140%;
  }

  .about-us-subtitle:first-of-type {
    margin-bottom: 42px;
  }

  blockquote{
    margin: 0;
  }

  .blockquote {
    padding: 70px 0 40px 55px;
    margin: 0;
    font-weight: 400;
    font-size: 44px;
    line-height: 114%;
    text-transform: uppercase;
  }

  .blockquote::before{
    content: "";
    position: absolute;
    left: 352px;
    height: 25px;
    width: 25px;
    background-image: url(../img/“.svg);
    background-size: contain;
  }

  .blockquote::after{
    content: "";
    position: absolute;
    margin-left: 10px;
    height: 25px;
    width: 25px;
    background-image: url(../img/“.svg);
    background-size: contain;
    transform: rotate(180deg);
  }

  .author {
    display: flex;
    justify-self:flex-end;
    width: 389px;
  }

  .author-img {
    width: 80px;
    height: 80px;
    margin-right: 29px;
  }

  .author-quote {
    margin: 0;
    font-weight: 400;
    line-height: 140%;
    font-style: normal;
  }
  address {
    margin-bottom: 39px;
  }

  .contacts {
    padding: 50px 0 50px;
  }

  .contacts-title {
    margin: 0;
    margin-bottom: 54px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .contact {
    display: flex;
  }

  .contact svg {
    color: #CD06FF;
    margin-right: 30px;
  }

  .contact p {
    margin: 0;
    font-size: 24px;
    line-height: 117%;
  }

  .contact a {
    margin: 0;
    font-size: 24px;
    line-height: 117%;
    text-decoration: none;
    color: #fff;
  }

  .contact:first-of-type {
    margin-bottom: 51px;
  }

  .socials {
    margin: 0;
    display: flex;
    list-style: none;
  }

  .social-item{
    margin-right: 26px;
  }





