@font-face {
    font-family: "Lato";
    src: local("Lato"), local("Lato Regular"), local("Lato-Regular"), 
    url(fonts/lato-regular.woff2) format(woff2),
    url(fonts/lato-regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"), local("Lato Bold"),
    url(fonts/lato-bold.woff2) format(woff2),
    url(fonts/lato-bold.woff) format(woff);
    font-weight: 700;
}

article{
    padding: 80px 75px;
    font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #2d2d2d;
}

.title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 50px;   
}

.text {
    margin: 0;
    line-height: 150%;
}

.text:first-of-type {
    margin-bottom: 33px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
}

.lists {
    display: flex;
}

.list {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

svg {
    margin-right: 10px;
}

.author {
    margin: 0;
    line-height: 150%;
}