body{
    background-color: whitesmoke;
}

.section {
    text-align: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.title {
    font-size: 36px;
    color: grey;
}

.links{
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.link {
    padding: 6px 8px;
    width: 25vw;

    font-size: 24px;
    color: #fff;
    text-decoration: none;

    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 6px rgb(179, 179, 179);
}